<%= form_for @destination do |f| %>

  <div class="form-group">
    <%= f.label :Name %>
    <%= f.text_field :name, :required => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Location %>
    <%= f.text_field :location, :required => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Activity %>
    <%= f.text_field :activity, :required => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :'Family Friendly' %>
    <%= f.text_field :familyf, :required => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Image %>
    <%= f.url_field :image, :required => true, :class => 'form-control', placeholder: 'http://www.fillmurray.com/300/300...' %>
  </div>

  <%= f.submit "Add Your Destination" %>
<% end %>
