<!DOCTYPE html>
<html>
  <head>
    <title>Destinationapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "New Member", new_user_path %>
      <a href="login">Members Login</a>
    </nav>
    <%= yield %>
  </body>
</html>
